@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);

/* LAYOUT */

.main {
  width: 960px;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.background {
  width: 100%;
  height: 400px;
  background: url("../img/background_adam.jpg") no-repeat center top;
  background-size: contain;
}

.container.content {
  position: relative;
  top: -355px;
  width: 100%;
}

.blueBg {
  width: 450px;
  height: 275px;
  background-image: url("../img/blue_background.png");
  background-size: cover;
  position: relative;
  left: 15px;
}

/* IMAGE STYLING */

#family {
  position: relative;
  top: 10px;
}

.moneyBack {
  position: relative;
  top: 2.75rem;
}

.mbgLogo {
  height: 60px;
  position: relative;
  bottom: 19px;
  left: 225px;
}

/* TYPOGRAPHY STYLING */

h1, h2, h3, h4, h5, h6, p {
  font-family: "PT Sans", sans-serif;
  
}

h4 {
  font-size: 16px;
}

h4.guaranteeBold {
  font-weight: 700;
  position: relative;
  top: -69px;
  right: 92px;
}

h4.guarantee {
  position: relative;
  bottom: 96px;
  left: 117px;
}

p.ship {
  position: relative;
  bottom: 121px;
  right: 207px;
  text-align: right;
  font-size: 10px;
}


/* Medium Devices, Desktops */
@media screen and (max-width:959px) {
  
  .main {
    width: 800px;  
  }

  .blueBg {
    width: 375px;
    height: 230px;
  }

  .container.content {
    top: -360px;
  }


}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  .main {
    width: 640px;
  }

  .container.content {
    top: -370px;
  }

  .blueBg {
    width: 300px;
    height: 185px;
  }
    
}

/* Cancel styling for XL screens */
@media screen and (min-width: 1200px) {

  .container {
    width: 960px;  
  }
  
}