@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);

/* LAYOUT */

.main {
  width: 960px;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.background {
  width: 100%;
  height: 400px;
  background: url("../img/background_adam.jpg") no-repeat center top;
  background-size: contain;
}

.container.content {
  position: relative;
  top: -355px;
  width: 100%;
}

.blueBg {
  width: 450px;
  height: 275px;
  background-image: url("../img/blue_background.png");
  background-size: cover;
  position: relative;
  left: 15px;
}

/* IMAGE STYLING */

#family {
  position: relative;
  top: 10px;
}

.moneyBack {
  position: relative;
  top: 2.75rem;
}

.mbgLogo {
  height: 60px;
  position: relative;
  bottom: 19px;
  left: 225px;
}

/* TYPOGRAPHY STYLING */

h1, h2, h3, h4, h5, h6, p {
  font-family: "PT Sans", sans-serif;
  
}

h4 {
  font-size: 16px;
}

h4.guaranteeBold {
  font-weight: 700;
  position: relative;
  top: -69px;
  right: 92px;
}

h4.guarantee {
  position: relative;
  bottom: 96px;
  left: 117px;
}

p.ship {
  position: relative;
  bottom: 121px;
  right: 207px;
  text-align: right;
  font-size: 10px;
}

.cta {
  color: white;
}

.quote {
  letter-spacing: 2px;
}

.adam {
  font-size: 12px;
}

.orderBtn {
  text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

.offer {
  color: #f6bb00;
  letter-spacing: 1px;
  font-weight: 700;
}

h3.offer {
  margin-bottom: -9px;
}

h4.offer {
  font-size: 18px;
  margin-bottom: 5px;
}

p.offer {
  font-size: 10px;
  color: white;
  font-weight: 400;
  letter-spacing: 0.5px;
}

/* BUTTON STYLING */

.orderBtn {
  background: #fe9600;
  background-image: -webkit-linear-gradient(top, #fe9600, #ed6108);
  background-image: -moz-linear-gradient(top, #fe9600, #ed6108);
  background-image: -ms-linear-gradient(top, #fe9600, #ed6108);
  background-image: -o-linear-gradient(top, #fe9600, #ed6108);
  background-image: linear-gradient(to bottom, #fe9600, #ed6108);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 18px;
  border: none;
  border-top: 2px solid rgb(253, 193, 63);
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 30px 5px 30px;
  text-decoration: none;
  letter-spacing: 1.25px;
  margin-top: 10px;
}

.orderBtn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

/* Medium Devices, Desktops */
@media screen and (max-width:959px) {
/* LAYOUT */
  
  .main {
    width: 800px;  
  }

  .blueBg {
    width: 375px;
    height: 230px;
  }

  .container.content {
    top: -360px;
  }

/* IMAGE STYLING */

  .mbgLogo {
    left: 190px;
    bottom: 23px;
    height: 56px;
  }

  .moneyBack {
    top: 21px;
  }

/* TYPOGRAPHY STYLING */
  h4 {
    font-size: 14px;
  }
  .quote {
    font-size: 23px;
    margin-top: 10px;
  }

  .orderBtn {
    margin-top: 0px;
  }

  h3.offer {
    font-size: 21px;
  }

  h4.offer {
    font-size: 17px;
  }

  h4.guaranteeBold {
    top: -67px;
    right: 59px;
  }
  
  h4.guarantee {
    bottom: 92px;
    left: 122px;
  }

  p.ship {
    bottom: 116px;
    right: 136px;
  }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  .main {
    width: 640px;
  }

  .container.content {
    top: -370px;
  }

  .blueBg {
    width: 300px;
    height: 185px;
  }

/* IMAGE STYLING */
  .moneyBack {
    top: 12px;
  }

  .mbgLogo {
    left: 117px;
    bottom: 24px;
    height: 50px;
  }

/* TYPOGRAPHY STYLING */
  h4 {
    font-size: 13px;
  }

  .quote {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .adam {
    font-size: 11px;
  }

  .orderBtn {
    font-size: 15px;
  }

  h3.offer {
    font-size: 19px;
    margin-top: 10px;
  }

  h4.offer {
    font-size: 15px;
    margin-bottom: 2px;
  }
  
  p.offer {
    font-size: 9px;
  }

  h4.guaranteeBold {
    top: -67px;
    right: 67px;
  }

  h4.guarantee {
    bottom: 91px;
    left: 103px;
    line-height: 16px;
  }

  p.ship {
    bottom: 114px;
    font-size: 8px;
    right: 91px;
  }
}

/* Cancel styling for XL screens */
@media screen and (min-width: 1200px) {

  .container {
    width: 960px;  
  }
  
}